body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #745d5d;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header {
    background-color: #b44646;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}